/* footer */
#footer {
    padding: 20px 0;
    background: #096C47;
    padding-top: 50px;
    padding-bottom: 50px;
}
#footer__wrap {
    display: flex;
    flex-direction: column;
}

#footer h2 img {
    width: 150px;
}

#footer .foot {
    margin-top: 30px;
}

#footer .foot ul {
    padding-bottom: 10px;
}
#footer .foot ul em,
#footer .foot address em
{
    color: #fff;
    font-weight: 300;
}

#footer .foot ul li {
    display: inline;
}

#footer .foot ul li a {
    color: #fff;
    padding-right: 10px;
}
#footer .foot ul li a:hover {
    text-decoration: underline;
}

#footer .foot address {
    font-style: normal;
    color: #fff;
    line-height: 1.4;
}

/* 반응형 */
@media (max-width: 800px) {
    #footer {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    #footer h2 img {
        width: 120px;
    }
    #footer .foot ul li a, #footer .foot address {
        font-size: 14px;
    }
}